<html>

<head>
    <title></title>
</head>

<body>
    <h1 style="text-align: center;">Welcome To My WebApp Page</h1>
    <h2>You are currently in main page.</h2>
    <h3>To go to compute app page, please visit: <a href="https://lit-ocean-13295.herokuapp.com/compute">Compute Site</a></h3>
    <p><br></p>
</body>

</html>